certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
filelock==3.15.4
fsspec==2024.6.1
huggingface-hub==0.24.5
idna==3.7
packaging==24.1
PyYAML==6.0.1
requests==2.32.3
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.2
